.authBody {
  background: linear-gradient(90deg, #00e0ff 0%, #ff6464 100%);
  height: 150vh;
}

.svg-inline--fa.fa-w-14 {
  width: 20vw;
  height: 20vh;
}
.fajoomla {
  margin-right: 14em;
}
.flex-row1 {
  display: flex;
  justify-content: center;
}
