.authBody {
  height: 120vh;
  background-color: white;
}

.svg-inline--fa.fa-w-14 {
  width: 20vw;
  height: 20vh;
}
/* .fajoomla {
  margin-right: 20em;
}
.flex-row1 {
  margin-top: 2em;
  display: flex;
  justify-content: center;
} */
