.matrix {
  width: 350px;
  list-style: none;
  background: linear-gradient(to right, #5ce3f5 50%, #ff6464 50%);
  border-radius: 20px;
  border: 2px solid black;
  height: 40px;
  padding: 10px 15px;
  margin-top: 1em;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .submit {
  background-color: black;
  color: white;
  font-family: "Montserrat" !important;
  font-size: 15px;
  border-radius: 20px;
  border-color: black;
  outline: none;
  outline-style: none !important;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 6em;
} */
.submit {
  background-color: black;
  font-family: "Montserrat";
  font-size: 15px;
  border-radius: 20px;
  outline: none;
  color: white;
  border: none;
  padding: 10px 15px;
  text-decoration: none;
}

.submit:hover {
  color: black;
  background-color: white;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}
#matrixsize {
  border-radius: 20px;
  border: none;
  width: 130px;
  height: 30px;
  margin: 10px 0;
  outline: none;
  padding: 0 20px;
  font-family: "Montserrat";
}
