.leaderboardContainer {
  display: grid;
  background-size: cover;
  height: 120vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}

.tableboard {
  width: 30vw;
  height: 80vh;
  border-spacing: 0 8px;
  border-collapse: separate;
  background-color: turquoise;
  margin-bottom: 8em;
}
.thead {
  height: 30px;
  text-align: center;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  background-color: #fbc101;
  border-radius: 10px 10px 0 0;
}

tbody th.col,
tbody th.col1,
tbody th.col2,
tbody th.col3 {
  width: 30px;
  background-color: teal;
}
tbody th.col1 {
  background-color: gold;
}
tbody th.col2 {
  background-color: silver;
}
tbody th.col3 {
  background-color: #b1560f;
}
img {
  border-radius: 100%;
}
tbody td {
  background-color: white;
  height: 45px;
}
td:hover {
  background-color: rgb(233, 229, 229);
  cursor: pointer;
}
