.leaderboardContainer {
  display: flex;
  height: 120vh;
  width: 100%;
  background-color: #001fcc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23001fcc' width='11' height='11'/%3E%3Crect fill='%230026d0' x='10' width='11' height='11'/%3E%3Crect fill='%23002dd3' y='10' width='11' height='11'/%3E%3Crect fill='%230033d7' x='20' width='11' height='11'/%3E%3Crect fill='%230038da' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23003ddd' y='20' width='11' height='11'/%3E%3Crect fill='%230042e0' x='30' width='11' height='11'/%3E%3Crect fill='%230046e3' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23004ae6' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23004ee8' y='30' width='11' height='11'/%3E%3Crect fill='%230052eb' x='40' width='11' height='11'/%3E%3Crect fill='%230056ed' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23005aef' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23005df1' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%230061f2' y='40' width='11' height='11'/%3E%3Crect fill='%230064f4' x='50' width='11' height='11'/%3E%3Crect fill='%230068f6' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23006bf7' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23006ef8' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%230071f9' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%230075fa' y='50' width='11' height='11'/%3E%3Crect fill='%230078fb' x='60' width='11' height='11'/%3E%3Crect fill='%23007bfc' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23007efc' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%230081fd' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%230084fd' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%230087fe' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23008afe' x='70' width='11' height='11'/%3E%3Crect fill='%23008dfe' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23008ffe' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%230092fe' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%230095fe' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%230098fe' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23009bfd' x='80' width='11' height='11'/%3E%3Crect fill='%23009dfd' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2300a0fd' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%2300a3fc' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%2300a5fc' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%2300a8fb' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2300abfb' x='90' width='11' height='11'/%3E%3Crect fill='%2300adfa' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2300b0f9' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2300b3f9' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2300b5f8' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%2300b8f7' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%2300baf6' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%2300bdf6' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2300bff5' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2300c2f4' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2300c4f4' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%2300c7f3' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%2300c9f2' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2300ccf2' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%2300cef1' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%2300d0f0' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%2300d3f0' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%2300d5ef' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%2300d7ef' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%2300daee' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%2300dcee' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.tableboard {
  padding-left: 5px;
  font-weight: 700;
  font-family: "Montserrat";
  margin-top: 2em;
  width: 30vw;
  height: 80vh;
  border-spacing: 0 8px;
  border-collapse: separate;
  background-size: cover;
  background-color: black;
  color: white;
  margin-bottom: 8em;
  border-radius: 0 0 10px 10px;
  background-attachment: fixed;
  background-size: cover;
}
.thead {
  height: 40px;
  text-align: center;
  color: black;
  font-weight: 700;
  font-family: "Montserrat";
  display: table-caption;
  background-color: #09d2f5;
  border-radius: 10px 10px 0 0;
}

tbody th.col,
tbody th.col1,
tbody th.col2,
tbody th.col3 {
  border-radius: 50%;
  border: 1px solid white;
  width: 30px;
  height: 34px;
  padding: 10px;
  text-align: center;
  font: 25px Arial, sans-serif;
}
tbody th.col1 {
  background: gold;
}
tbody th.col2 {
  background: silver;
}
tbody th.col3 {
  background: #b1560f;
}
td.col {
  font-family: "Montserrat";
  text-align: center;
  color: #ff6464;
  font-weight: 700;
  width: 100px;
}

td:hover {
  background-color: rgba(255, 255, 255, 0.575);
  cursor: pointer;
}
