.inner-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

.outer-container {
  background-color: #222831;
  padding: 40px;
  margin: 0px auto;
  border-radius: 20px;
}
