.blueteam-ui,
.redteam-ui {
  font-family: "Montserrat";
  width: 400px;
  padding: 20px 15px;
  border: 2px solid black;
  border-radius: 20px;
  height: 175px;
}
.blueteam-ui {
  background-color: #00e0ff;
  /* margin-right: 10em; */
}
.redteam-ui {
  background-color: #ff6464;
}
.userinput-field {
  display: flex;
  justify-content: space-evenly;
}

.title {
  color: white;
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 10px;
}

.userinput-field input {
  border-radius: 20px;
  border: none;
  width: 300px;
  height: 30px;
  margin: 10px 0;
  outline: none;
  padding: 0 20px;
  font-family: "Montserrat";
  font-size: 15px;
}
.verify-btn {
  background-color: #222831;
  color: white;
  width: 100px;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px auto;
  font-family: "Montserrat" !important;
  display: flex;
  justify-content: center;
}

.flex-row1 {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.fab {
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.btn:hover,
.btn:hover {
  background-color: #eeeeee;
  color: black;
}

.flex-col {
  margin: 0;
  text-align-last: center;
}
section {
  position: relative;
  width: 100%;
  height: 50vh;
  background: linear-gradient(90deg, #00e0ff 50%, #ff6464 50%);
  overflow: hidden;
}
section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../Images/wave.png");
  background-size: 1000px 100px;
}
section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: 5s;
  bottom: 10px;
}
section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}
section .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
